
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #f7f9fd;
}

.wrapper{
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}

.container{
    width: 100%;
}

.sub-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex{
    display: flex;
    align-items: center;
}

/* for output container */
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h3 {
    color: rgb(104, 36, 120);
    font-weight: 700;
    margin-bottom: 0.5em;
}

.container input{
    display: block;
    width: 100%;
    /* padding is the padding of the inside */
    padding: 0.5em 0.25em;
    border: 1.5px solid #b6a6e3 ;
    border-radius: 0.3em;
    color: #4b2281;
    outline: none;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.totalBudgetContainer, .addExpenseContainer{
    background-color: white;
    padding: 1.25em 0.9em;
    border-radius: 0.4em;
    box-shadow: 0 0.3em 1em  #3d255e7e;
}

button{
    font-size: 1em;
    margin-top: 0.4em;
    background-color: #7777c4;
    color: #f7f9fd;
    border: none;
    /* the black border that wraps up the button... BYEBYE */
    outline: none;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    cursor: pointer;
}

.output-container{
    background-color: #504179;
    color: #f7f9fd;
    border-radius: 0.3em;
    box-shadow: 0 0.3em 1em  #3d255e7e;
    font-weight: 500;
    margin: 2em 0; 
    /* margin is outside, padding is inside */
    padding: 1.2em 1.3em;
}

.output-container p{
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span{
    display: block;
    /* inline block act like block but allows other word
    sit next to it, while block takes up the whole line */
    text-align: center;
    font-weight: 350;
    color: #f7f9fd;
}

.list-container{
    background-color: white;
    padding: 1.2em 1.2em;
    box-shadow: 0 0.3em 1em  #3d255e7e;
    border-radius: 0.6em;
}

.hide{
    display: none;
}

.error{
    font-weight: 550;
    color: red;
    margin-bottom: 0.4em;
}